
body, h1{
  margin: 0;
  padding: 0;
  background-color: #000;

}

.hlogo, h1 {
  font-size: 150px;
  font-weight: bold;
  font-family: arial;
  color: rgba(225,225,225,.1);
  background-image: url(i5.jpg);
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: animate 14s linear infinite;

}

      @keyframes animate {
        0%{
          background-position: left 0px top 10px;
        }
        40%{
          background-position: left 800px top 10px;
        }
      }

.soc{
text-align: center;

}

.hlogo{
text-align: center;
margin-top: 17%;

}


.htxt{
  color:green;
  font-size: 20px;
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;
  overflow: inline;

}


@media (max-width: 600px){
    .hlogo h1 {
      font-weight: normal;
      font-size: 80px;
      font-family: arial;
      font-weight: 700;
      animation: animate 16s linear infinite;
 }
.htxt{
  font-size: 20px;
}

}
